@import '../../main';

.WhatForMe {
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    .heading3 {
        margin-bottom: $padding-big;
        margin-left: auto;
        margin-right: auto;

        font-weight: 400;

        &:first-child, &.architect {
            font-family: 'Architects Daughter', sans-serif;
            font-weight: 400;
            font-size: $font-size-big;
        }

        span.underline {
            border-bottom: 2px solid $color-secondary;
        }
    }
    .heading2 {
        margin-bottom: $padding-big;
    }
    .heading1 {
        margin-top: $padding-big;
        margin-bottom: $padding-big;
    }
    p {
        width: 70rem;
        line-height: 1.5;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }
    & .marginTop {
        margin-top: $padding-big;
    }
    &__CTA {
        width: 36rem;
        margin-left: auto;
        margin-right: auto;
        height: 36rem;
        padding: 3rem;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        color: $color-white;
        letter-spacing: 0px;
        font-weight: bold;
        text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
        font-size: 3rem;

        position: relative;

        &:hover {
            &::before {
                box-shadow: 5.3249993324279785px 5.3249993324279785px 7.199999809265137px 0px rgba(#0000004D, .5) inset, 24.850000381469727px 24.850000381469727px 10.920000076293945px 0px rgba(#FFFFFF99, .5) inset, -14.200000762939453px -14.200000762939453px 12.425000190734863px -12.425000190734863px rgba(#00000040, .5) inset, -24.850000381469727px -24.850000381469727px 47.92499542236328px 0px rgba(#0000003D, .5) inset;
            }
            &::after {
                box-shadow: 4.3949995040893555px 4.3949995040893555px 11.720000267028809px 0px rgba(#191919D9, .5), 20.510000228881836px 20.510000228881836px 39.554996490478516px 0px rgba(#19191963, .5) inset, -11.720000267028809px -11.720000267028809px 10.255000114440918px -10.255000114440918px rgba(#00000040, .5) inset,-20.510000228881836px -20.510000228881836px 39.554996490478516px 0px rgba(#0000003D, .5) inset;
            }
        }

        &::after,
        &::before {
            content: "";
            border-radius: 50%;

            display: block;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            transition: all .2s;
        }
        &::before {
            width: 100%;
            height: 100%;
            background: #968487;
            box-shadow: 5.3249993324279785px 5.3249993324279785px 7.199999809265137px 0px #0000004D inset, 24.850000381469727px 24.850000381469727px 10.920000076293945px 0px #FFFFFF99 inset, -14.200000762939453px -14.200000762939453px 12.425000190734863px -12.425000190734863px #00000040 inset, -24.850000381469727px -24.850000381469727px 47.92499542236328px 0px #0000003D inset;
            min-height: 100%;
        }
        &::after {
            width: 80%;
            height: 80%;
            background: #37882A;
            box-shadow: 4.3949995040893555px 4.3949995040893555px 11.720000267028809px 0px #191919D9, 20.510000228881836px 20.510000228881836px 39.554996490478516px 0px #19191963 inset, -11.720000267028809px -11.720000267028809px 10.255000114440918px -10.255000114440918px #00000040 inset,-20.510000228881836px -20.510000228881836px 39.554996490478516px 0px #0000003D inset;
            min-height: 80%;
        }
    }
    &__bahamas {
        margin-bottom: 50rem;

        text-align: center;
    }
    &__timeIsNow {
       margin-bottom: $padding-small !important;
    }
    &__nextProject {
        width: 90rem !important;

        @media screen and (max-width: 800px) {
            width: 80% !important;
        }
        margin-bottom: $padding-small !important;
    }

    & .secondary {
        color: $color-secondary;

        &:not(.underline) {
            border-bottom: none;
        }
        & span.underline {
            border-bottom: 2px solid $color-secondary;
        }
    }
}