@import '../../main';

.paragraph {
  margin-bottom: 1.5rem;
  max-width: 75rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  font-size: $font-size-regular;
  line-height: 138%;
  font-weight: 400;
  letter-spacing: .5px;

  @media screen and (max-width: 420px) {
    width: 100%;
  }

  color: $color-white;

  &--center {
    text-align: center;
  }
  &--small {
    font-size: $font-size-small;
  }

  & span {
    border-bottom: 2px solid $color-white;
  }
}
