@import "../../main";

.heading2 {
  font-size: $font-size-medium;
  color: $color-white;
  letter-spacing: .5px;
  width: 95rem;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-weight: 400;

  &--danger {
    color: $color-danger;
  }
  &--light {
    color: $color-grey;
  }

  @media only screen and (max-width: 850px) {
    width: 80%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 3.4rem;
  }
  @media only screen and (max-width: 550px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 700px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 420px) {
    width: 100%;
  }
}
