@import '../../main';

.Marketing {
    padding-top: $padding-big;
    padding-bottom: $padding-big/2;

    position: relative;

    &__heading2 {
    }
    &__heading1 {
        margin-top: $padding-big/2;

        span {
            color: $color-secondary;
            text-decoration: none;
        }
    }
    &__img {
        width: 120rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: $padding-big/2;

        display: block;

        @media screen and (max-width: 1100px) {
            width: 90%;
        }
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform: rotate(-2deg) scaleX(1.2);
        overflow: hidden;

        img {
            transform: scale(1.2);
        }
    }
}