@import '../../main';

.TraditionalMarketing {
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    .heading1 {
        margin-bottom: $padding-big/2;

        &:not(:first-child) {
            margin-top: $padding-big;
            margin-bottom: $padding-big;
            color: $color-secondary;
        }
    }

    .heading2 {
        margin-top: $padding-big;

        .secondary {
            color: $color-secondary;

            span.underline {
                border-bottom: 2px solid $color-secondary;
            }
        }
    }

    p {
        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }
}