@import '../../main';

.NewMethod {
    position: relative;
    padding-top: $padding-big;
    padding-bottom: $padding-big;


    p {
        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }

    &__background {
        position: absolute;
        height: 100%;

        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform-origin: 0 100%;
        transform: rotate(-2deg) scaleX(1.1) scaleY(0.98) translateY(-2rem);;

        img {
            height: 100%;
            display: block;
            transform: scale(1.2);

            @media screen and (max-width: 700px) {
                transform: scale(1.2) translateX(-50%);
            }
        }
    }
    .heading2 {
        &:first-of-type {
            color: $color-secondary;
            font-weight: bold;

            span {
                border-bottom: 2px solid $color-secondary;
            }
        }
    }
    .heading1 {
        margin-top: $padding-small;
        margin-bottom: $padding-big;

        &:first-of-type {
            margin-bottom: $padding-small;
        }
    }
}