@import '../../main';

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, .8);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000000;

  &--error {
    & .popup__content {
      background-color: #8c0f06;
      color: $color-white;
      font-weight: bold;
    }
  
  }
  &--success {
    & .popup__content {
      background-color: darken($color-primary-3, .5);
      color: $color-white;
    }
  }

  &__content {
    padding: 4rem;
    background-color: $color-white;
    border-radius: 1rem;

    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 4rem;
    }

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 45%;
  }
}
