@import '../../main';

.YouAsk {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big;

    &__YouAsk {
        margin-top: $padding-big/2;
        margin-bottom: $padding-small;

        text-transform: uppercase;
        font-weight: 600;
    }

    &__question {
        margin-bottom: $padding-small;
        font-family: 'Patrick Hand', 'sans-serif';
        font-size: $font-size-big;
        letter-spacing: 2px;

        @media screen and (max-width: 700px) {
            font-size: $font-size-medium;
        }
    }

    &__question2 {
        margin-bottom: $padding-small;

        text-transform: uppercase;
        font-weight: 600;
    }

    &__answer {
        width: 90rem;
        margin-left: auto;
        margin-right: auto;
        
        font-weight: 400;
        text-align: center;

        @media screen and (max-width: 900px) {
            width: 90%;
        }
        
        span {
            border-bottom: 2px solid $color-white;
        }
    }
}