@import '../../main';

.Secrets {
    padding-bottom: $padding-big;
    p {
        line-height: 1.5;
        width: 70rem;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }

    .heading1 {
        margin-top: $padding-big;
        margin-bottom: $padding-medium;

        span.secondary {
            color: $color-secondary;
        }
    }
    .heading2 {
        margin-bottom: $padding-medium;
    }
    .heading3 {
        margin-top: $padding-medium;
        margin-bottom: $padding-medium;

        font-family: 'Architects Daughter', sans-serif;
        font-size: $font-size-big;
        font-weight: 400;

        @media screen and (max-width: 1200px) {
            font-size: 4rem;
        }
    }
    &__now {
        margin-top: $padding-big;
    }

    span:not(.underline) {
        border-bottom: none;
    }
    .secondary {
        color: $color-secondary;

        span.underline {
            border-bottom: 2px solid $color-secondary;
        }
    }
}