@import '../../main';

.Pockets {
    padding-top: $padding-big;
    padding-bottom: $padding-big/2;

    &__pyramid {
        width: 120rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: $padding-medium;
        padding-top: $padding-small;

        position: relative;

        @media screen and (max-width: 1100px) {
            width: 90%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }

        &__background {
            width: 90%;
            height: 55rem;
            background-color: $color-primary-2;
            clip-path: polygon(0 100%, 50% 0, 100% 100%);

            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateZ(0);

            @media screen and (max-width: 1100px) {
                width: 70rem;
                height: 45rem;
                
            }
            @media screen and (max-width: 500px) {
               height: 40rem;
               width: 100%;
            }
        }

        &__row {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: $padding-small;

            z-index: 1;
            position: relative;
        }

        &__person {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &__image {
                width: 23rem;
                height: 23rem;

                font-size: $font-size-small;
                text-align: center;
                font-style: italic;

                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;

                &__image {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }

                @media screen and (max-width: 1100px) {
                    width: 16rem;
                    height: 16rem;
                }
                @media screen and (max-width: 500px) {
                    width: 12rem;
                    height: 12rem;
                }
            }

            &--brunson {

                & .Pockets__pyramid__person__image {
                    color: #CBC8F5;
                }
            }

            &--kennedy {
                & .Pockets__pyramid__person__image {
                    color: #F0D4BA;
                }
            }

            &--edwards {
                & .Pockets__pyramid__person__image {
                   color: #FBBEC7;
                }
            }
        }

        &__description {
            margin-top: 1rem;

            color: $color-white;
            letter-spacing: 0px;
            font-style: italic;
            font-size: $font-size-small;

            @media screen and (max-width: 600px) {
                text-align: center;
            }
        }

        &__source {
            width: min-content;
            text-align: center;
            font-size: 15px;
            font-style: italic;
            color: #3B3B3B;

            a {
                color: #3B3B3B;
            }

            @media screen and (max-width: 1100px) {
                font-size: 12px;
            }
        }

        img {
            display: block;
        }
    }

    &__heading2 {
        margin-top: $padding-big;   
    }

    h2 {  
        @media only screen and (max-width: 400px) {
            margin-top: 16rem;
            width: 90%;
        }
    }

    &__SabriSuby {
        max-width: 140rem;
        margin-top: $padding-big;
        margin-left: auto;
        margin-right: auto;

        display: flex;

        @media screen and (max-width: 1200px) {
            align-items: center;
        }

        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }

        &__left {
            margin-right: $padding-medium;

            @media screen and (max-width: 1200px) {
                width: 65rem;
                margin-right: 0rem;

                img {
                    width: 100%;
                }
            }

            @media screen and (max-width: 600px) {
                width: 90%;
            }
        }

        &__right {
            p {
                width: 100%;

                @media only screen and (max-width: 600px) {
                    width: 90%;
                }

                @media only screen and (max-width: 400px) {
                    margin-top: 3.6rem;
                    font-size: 16px;                    
                }
            }
        }

        &__description {
            margin-top: 1rem;

            color: $color-white;
            font-size: $font-size-small;
            text-align: center;
            letter-spacing: 1px;
        }

        &__source {
            margin-top: 1rem;

            font-size: 16px;
            font-style: italic;
            color: #3B3B3B;
            text-align: center;

            @media only screen and (max-width: 400px) {
                font-size: 12px;
                margin-bottom: 1.4rem;
            }

            a {
                color: #3B3B3B;
            }
        }
    }

    &__p {
        margin-top: $padding-medium;
    }
    & .secondary {
        color: $color-secondary;

        span.underline {
            border-bottom: 2px solid $color-secondary;
        }
    }

    p {
        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }
}