@import '../../main';

.Mail {
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    .heading1 {
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;
        transform: scaleX(1.2) rotate(-2deg);
        background-color: rgba($color-primary-2, 1);
        overflow: hidden;
        z-index: -1;

        img {
            display: block;
            height: 100%;
            transform: scale(1.1) translateY(-50%) translateX(-50%);
            opacity: .5;

            position: absolute;
            top: 50%;
            left: 50%;
        }
    };
    input {
        margin-top: $padding-small;
        outline: none;
        border: none;
        width: 70rem;
        height: 9rem;
        font-size: 4rem;
        text-align: center;

        &::placeholder { 
            font-size: 4rem;
            color: rgba($color-black, .2);
            text-align: center;
        }

        @media screen and (max-width: 500px) {
            width: 90%;
        }
        box-shadow: 0px 4px 4px 0px #00000040 inset;
    }
    &__CTA {
        margin-top: $padding-small;
        width: 70rem;

        &.loading {
            background-color: $color-grey !important;
        }

        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }
    p {
        text-align: center;
        margin: 0;
        margin-top: 1rem;
        text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

        a {
            color: $color-white;
        }

        &:last-child {
            margin-top: 5rem;
        }
    }
    
}