@import '../../main';

.EasyThing {
    background-color: $color-primary-2;
    padding-top: $padding-big/2;
    padding-bottom: $padding-big/2;

    position: relative;

    &__background {
        width: 100%;
        height: 100%;

        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .4;
        overflow: hidden;
        img {
            height: 100%;
        }
    }

    p {
        text-shadow: 0px 0px 12px #00000080;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }
}