@import '../../main';

.Opportunity {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big/2;

    &__meme {
        padding-top: $padding-big;
        padding-bottom: $padding-big;
        margin-left: auto;
        margin-right: auto;

        display: block;

        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }
    &__protection {

    }
    &__benefits {
        margin-left: auto;
        width: 80rem;
        margin-right: auto;
      
        flex-direction: column;

        color: $color-white;
        letter-spacing: 0;

        p {
            width: 100%;
        }
        &__description  {
            margin-bottom: $padding-small;
        }
        &__list {

        }
        @media screen and (max-width: 700px) {
            width: 90%;
        }
    }
    &__benefit {
        margin-bottom: 1rem;
    }
    &__heading2 {
        margin-top: $padding-big;
        margin-bottom: $padding-big;
    }

    & .secondary {
        color: $color-secondary;
    }
}