@import '../../main';

.WhatToDo {
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    .heading3 {
        font-family: 'Architects Daughter', sans-serif;
        font-weight: 400;
        font-size: $font-size-big;
    }
    .heading2 {
        margin-top: $padding-medium;
        margin-bottom: $padding-medium;
    }
    .heading1 {
        margin-top: $padding-big;
    }
    p {
        line-height: 1.5;
        width: 70rem;

        @media screen and (max-width: 600px) {
            width: 90%;
        }
    }
    &__testing {
        margin-top: $padding-big !important;
    }
}