@import '../../main';

.Header {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big;

    position: relative;

    @media screen and (max-width: 600px) {
        height: auto;

        // padding-top: $padding-small;
    }

    &__challenge {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $padding-medium;
        background: #37882A;
        padding: 2rem;
        border-radius: 6rem;
        box-shadow: 0px 0px 200px $color-primary;

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: $font-size-small;

        position: relative;

        @media screen and (max-width: 600px) {
            width: 90%;
            // margin-bottom: $padding-small;

            font-size: 1.8rem;
        }

        &::before {
            content: "";
            width: 2rem;
            height: 2rem;
            margin-right: 2rem;
            border-radius: 50%;
            background: $color-secondary;

            flex-shrink: 0;

            display: block;

            @media screen and (max-width: 600px) {
                margin-right: 1rem;
            }
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), 0 100%);

        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        transform: skewY(0.001deg);
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
    }

    &__heading1 {
        margin-bottom: $padding-small/2;

        font-weight: bold;
    }

    &__heading2 {
        margin-bottom: $padding-medium;

        span {
            border-bottom: 2px solid $color-white;
        }
    }

    &__heading3 {
        font-weight: normal;
        font-style: italic;
    }

}