@import '../../main';

.Hi {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big/2;
    background-color: $color-primary-2;
    padding-left: $padding-big;
    padding-right: $padding-big;

    display: flex;
    align-items: center;

    @media screen and (max-width: 1600px) {
        padding-left: $padding-small;
        padding-right: $padding-small;
    }
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding-left: $padding-medium/2 !important;
        padding-right: $padding-medium/2 !important;
        width: 100%;
    }
    @media screen and (max-width: 550px) {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    &__left {
        margin-right: $padding-medium;
        margin-left: auto;

        @media screen and (max-width: 1600px) {
            margin-right: $padding-small;
        }
        @media screen and (max-width: 1200px) {
            margin-right: 0rem;
            margin-left: 0;
        }
        p {
            @media screen and (max-width: 600px) {
                width: 90%;
            }
        }
    }
    &__right {
        width: 60rem;
        margin-right: auto;
        flex-shrink: 0;
        img {
            width: 100%;
            display: block;
        }

        // @media screen and (max-width: 1200px) {
        //     width: 40rem;
        // }
        @media screen and (max-width: 1200px) {
            margin-right: 0;
            margin-top: $padding-small;
        }
        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }
    &__description {
        color: white;
        margin-top: 1rem;
        text-align: center;
        font-size: 2.2rem;
        font-style: italic;
    }
}