@import '../../main';

.Order {
    width: 100%;
    min-height: 100vh;   
    background-color: $color-background;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;


    font-family: 'Poppins', sans-serif;

    &__content {
        width: 95rem;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        display: flex;
        align-items: center;

        @media screen and (max-width: 700px) {
            width: 90%;
        }
    }
    label {
        color: $color-white;
        width: 80rem;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    &__textInput {
        margin-bottom: $padding-small/2;
        outline: none;
        border: none;
        width: 80rem;
        height: 7rem;
        font-size: 4rem;
        text-align: center;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        &::placeholder {
            font-size: 4rem;
            color: rgba($color-black, .2);
            text-align: center;
        }

        box-shadow: 0px 4px 4px 0px #00000040 inset;

    }

    &__checkboxInput {
        margin-bottom: $padding-small;
        width: 70rem;
        display: flex;
        margin-top: 2rem;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        a {
            color: white;
        }

        &__label {
            margin-right: 2rem;
            width: 3rem !important;
            height: 3rem;
            background-color: $color-white;
            cursor: pointer;

            display: block;
            flex-shrink: 0;

            position: relative;

            &--checked {
                &::after {
                    content: "";
                    width: 50%;
                    height: 50%;
                    background-color: $color-black;

                    display: block;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &__input {
            visibility: hidden;
        }

        &__text {
            color: white;
            font-size: 1.8rem;

            span {
                color: red;
                font-size: 2.4rem;
            }
        }
    }
    &__cross {
        width: 5rem;
        height: 5rem;
        cursor: pointer;

        position: absolute;
        top: 2rem;
        right: 2rem;

        display: flex;
        align-items: center;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: .5rem;

            display: block;

            background-color: #414141;

            position: absolute;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
    }

    .cta {
        width: 100%;
        text-shadow: 2px 2px 10px rgba(#000000, .5);

        &.loading {
            background-color: $color-grey !important;
        }
    }

    .heading3 {
        margin-top: $padding-small/2;
        margin-bottom: $padding-small;
        font-size: $font-size-regular;
        font-weight: 520;
    }
}