@import '../../main';

.FunWork {
    position: relative;
    padding-top: $padding-big;
    padding-bottom: $padding-big;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        overflow: hidden;
        transform-origin: 0 100%;
        transform: rotate(-2deg);

        @media screen and (max-width: 500px) {
            transform: none;
        }

        img {
            height: 100%;
            transform: scale(1.2);
        }
    }
    .heading2 {
        margin-top: $padding-medium;
    }
    .heading3 {
        margin-top: $padding-small/2; 

        span.underline {
            border-bottom: 2px solid $color-secondary;
        }
    }
    &__rhombus {
        margin-top: $padding-medium;
        margin-bottom: $padding-small;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 13rem;
        padding-right: 13rem;

        font-size: $font-size-medium;

        position: relative;

        @media screen and (max-width: 800px) {
            width: 90%;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba($color-primary, .5);

            display: block;

            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            transform: skewX(-10deg);
        }
    }
}