@import './main';

@font-face {
  font-family: 'Architects Daughter';
  src: url('assets/architectsdaughter-webfont.woff2') format('woff2'),
       url('assets/architectsdaughter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: $color-background;

  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1.5px;

  @media screen and (max-width: 1700px) {
    font-size: 54%;
  }
  @media screen and (max-width: 1400px) {
    font-size: 48%;
  }
  @media screen and (max-width: 1000px) {
    font-size: 50%;
  }
  @media screen and (max-width: 750px) {
    font-size: 41.5%;
  }
}

body {
  color: $color-black;
  font-size: $font-size-regular;
}

.Footnote {
  padding-bottom: 2rem;

  color:  #484848;

  font-size: 17px;
  text-align: center;

  &__a {
    text-decoration: none;
    color:  #484848;

  }

  @media screen and (max-width: 900px) {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
}

#cookie-bar {
  height: 20vh;
  padding-left: 8rem !important;
  padding-right: 8rem !important;

  font-size: 2rem !important;

  display: flex !important;
  align-items: center;

  @media screen and (max-width: 700px) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;

    p {
      margin-right: 4rem !important;
    }
  }
  @media screen and (max-width: 500px) {
    height: 30rem;

    flex-direction: column;

    p {
      width: 80% !important;

      margin-right: 0 !important;
      margin-top: 4rem !important;
      margin-bottom: 4rem !important;
    }
  }
}
#cookie-bar-button {
  width: 40rem;
  height: 10rem;
  margin-left: auto;
  
  display: flex !important;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 500px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

ul {
  margin-top: 5rem;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;

  span {
    color: $color-secondary;
  }
}

.SkewSection {
  position: relative;
  &::after,
  &::before {
      content: "";
      width: 100%;
      height: $skew-offset;
      background-color: $color-background;

      display: block;

      position: absolute;
      overflow: hidden;
  }
  &::before {
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      transform: translateZ(0);
  }
  &::after {
      left: 0;
      bottom: 0;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      transform: translateZ(0);
  }
}

span.underline {
  border-bottom: 2px solid $color-white;
}

.BottomMarkers {
  .BottomMarker.right,
  .BottomMarker.left {
      content: "";
      width: 40rem;
      height: 8rem;
      background: $color-primary-3;

      display: block;

      position: absolute;

      @media screen and (max-width: 1200px) {
        width: 30rem;
        height: 6rem;
      }
      @media screen and (max-width: 900px) {
        width: 20rem;
        height: 4rem;
      }
      // @media screen and (max-width: 700px) {
      //   bottom: 0 !important;
      //   transform: none !important;
      // }
      @media screen and (max-width: 500px) {
        transform: none !important;
        bottom: 0 !important;
        width: 100%;
      }
    
  }
  .BottomMarker.right {
      right: -3px;
      bottom: 8rem;
      transform-origin: 100% 100%;
      transform: rotate(-2deg) translateZ(0);
      clip-path: polygon(0 100%, 20% 0, 100% 0, 100% 100%);

      @media screen and (max-width: 1200px) {
        bottom: 4rem;
      }
  }
  .BottomMarker.left {
      transform-origin: 0 100%;
      left: 0;
      bottom: 0;
      transform: rotate(-2deg) translateZ(0);
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  }
}
.TopMarkers {
  .TopMarker.right,
  .TopMarker.left {
      content: "";
      width: 40rem;
      height: 8rem;
      background: $color-primary-3;

      display: block;

      position: absolute;

      @media screen and (max-width: 1200px) {
        width: 30rem;
        height: 6rem;
      }
      @media screen and (max-width: 900px) {
        width: 20rem;
        height: 4rem;
      }
      // @media screen and (max-width: 700px) {
      //   top: 0 !important;
      //   transform: none !important;
      // }
      @media screen and (max-width: 500px) {
        transform: none !important;
        top: 0 !important;
        width: 100%;
      }
    
  }
  .TopMarker.right {
      right: -3px;
      top: -8rem;
      transform-origin: 100% 100%;
      transform: rotate(-2deg) translateZ(0);
      clip-path: polygon(0 100%, 20% 0, 100% 0, 100% 100%);

      @media screen and (max-width: 1200px) {
        top: -4rem;
      }
  }
  .TopMarker.left {
      transform-origin: 0 100%;
      left: 0;
      top: 0;
      transform: rotate(-2deg) translateZ(0);
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }
}

.App > div {
  padding-left: 2rem;
  padding-right: 2rem;
}