// Colors
// Edit colors as you need
$color-primary: #4CAF50CC;
$color-primary-2: #56F83B80;
$color-primary-3: #37882A;
$color-secondary: #F2CB05;


$color-danger: #FF7438;
$color-action: #E8B66C;
$color-action-dark:#76400D;


$color-background-2: #333142;
$color-background: #1A1A1A;


$color-black: black;
$color-grey: #a7a7a7;
$color-white: #ffffff;

// Font sizes
$font-size-small: 2rem;
$font-size-regular: 2.6rem;
$font-size-medium: 3.8rem;
$font-size-big: 5.5rem;
$font-size-large: 7.2rem;



// Font weights
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;
$weight-extrabold: 800;

$padding-big: 22rem;
$padding-medium: 10rem;
$padding-small: 6rem;

@media screen and (max-width: 1000px) {
    $padding-big: 16rem;
    $padding-medium: 8rem;
    $padding-small: 4rem; 
}
@media screen and (max-width: 600px) {
    $padding-big: 16rem;
    $padding-medium: 8rem;
}

$skew-offset: 8rem;