@import '../../main';

.DoesNotExist {
    padding-top: $padding-big/2;
    padding-bottom: $padding-big;

    &__heading3 {
        font-family: 'Patrick Hand', 'sans-serif';
        font-size: $font-size-big;
        font-weight: 400;
    }
    &__heading2 {
        margin-top: $padding-big;
    }
}